html {
	background-image: url("../img/Wood.jpg") !important;
	background-position: 0px 0px !important;
	background-size: 100% auto !important;
	background-repeat: repeat !important;
}

body {
	background: rgba(0,0,0,0) !important;
}

h1 {
	text-align: center;
	margin-top: 7% !important;
	color: #A52A2A !important;
	font-weight: bold;
}

:focus {
	background-color: pink
}

.first-cl {
	font-family: 'PT Serif', serif !important;
	text-align: center;
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 30%;
	line-height: 1em;
	color: #A52A2A;
}

.second-cl {
	font-family: 'PT Serif', serif !important;
	text-align: center;
	margin-top: 2%;
	margin-left: 30%;
	margin-right: 30%;
	line-height: 1em;
	color: #A52A2A}

.game-mentions {
	color: #A52A2A;
	list-style: none;
	text-align: center;
	margin-top: 2%;
}

.game-mentions li {
	font-family: 'Indie Flower', cursive !important;
	display: inline-block;
	text-align: center;
	padding: 5px;
	font-weight: bold;
}

/* Small Phone */
@media only screen and (min-width : 320px){
	h1 {font-size: 1.8em;
	 color: #A52A2A
	}
	
	.first-cl {
	text-align: center;
	margin-top: 5%;
	margin-left: 12%;
	margin-right: 12%;
	line-height: 1em;
	color: #A52A2A;
	}

	.second-cl {
	text-align: center;
	margin-top: 2%;
	margin-left: 12%;
	margin-right: 12%;
	line-height: 1em;
	color: #A52A2A
	}

	.game-mentions {
	color: #A52A2A;
	list-style: none;
	text-align: center;
	margin-top: 1%;
	margin-right: 15%;
	}
	.game-mentions li {
	display: inline-block;
	text-align: center;
	padding: 3px 15px;
	font-weight: bold;
	}
}
/* Phone */
@media only screen and (min-width : 480px) {
	h1 {font-size: 2em;
	 color: #A52A2A
	}
	
	.first-cl {
	text-align: center;
	margin-top: 5%;
	font-size: 1.04em;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 1.1em;
	color: #A52A2A;
	}

	.second-cl {
	text-align: center;
	margin-top: 2%;
	font-size: 1.04em;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 1.1em;
	color: #A52A2A
	}

	.game-mentions {
	color: #A52A2A;
	list-style: none;
	text-align: center;
	margin-top: 1%;
	margin-right: 9%;
	}
	.game-mentions li {
	display: inline-block;
	text-align: center;
	padding: 3px 8px;
	font-weight: bold;
	}
}

/* Tablet */
@media only screen and (min-width : 768px) {
	h1 {font-size: 3em;
	 color: #A52A2A
	}
	
	.first-cl {
	text-align: center;
	font-size: 1.2em;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 1.15em;
	color: #A52A2A;
	}

	.second-cl {
	text-align: center;
	font-size: 1.2em;
	margin-top: 2%;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 1.15em;
	color: #A52A2A
	}

	.game-mentions {
	color: #A52A2A;
	list-style: none;
	font-size: 1.3em;
	text-align: center;
	margin-top: 2%;
	margin-right: 9%;
	}
	.game-mentions li {
	display: inline-block;
	text-align: center;
	padding: 3px 8px;
	font-weight: bold;
	}
}

/* Wide Screen */
@media only screen and (min-width : 1200px) {
	h1 {font-size: 3em;
	 color: #A52A2A
	}
	
	.first-cl {
	text-align: center;
	font-size: 1.2em;
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
	line-height: 1.25em;
	color: #A52A2A;
	}

	.second-cl {
	text-align: center;
	font-size: 1.2em;
	margin-top: 2%;
	margin-left: 25%;
	margin-right: 25%;
	line-height: 1.25em;
	color: #A52A2A
	}

	.game-mentions {
	color: #A52A2A;
	list-style: none;
	font-size: 1.3em;
	text-align: center;
	margin-top: 2%;
	margin-right: 4%;
	}
	.game-mentions li {
	display: inline-block;
	text-align: center;
	padding: 3px 4px;
	font-weight: bold;
	}
}